.header-bg{
    background-image:url(../../images/stidium.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
    padding-top:100px;
}
.title{
    font-size:40px;
    font-weight:bold;
    color: rgb(236, 172, 99);
    background:rgba(205, 223, 211, 0.575);
    border-radius:30px;
    box-shadow: 0px 10px 15px 10px rgba(106, 184, 218, 0.705) ;
    padding: 20px;
}


*{
    margin:0;
    padding: 0;
}