
.body-bg{
    background-color: rgb(7, 10, 26);
    height: 100%;
}

.league-image img{
    width: 800px;
    height: 250px;
}

.row-detail{
    padding: 5px;
    border-radius: 1.5em;
    background-color: rgb(9, 9, 92);
    
    
}

.detail{
    width: 60%;
    color: white;
}

.league-image{
    width: 20%;
}

.card-font{
    font-size:20px;
}

.text-define{
    text-align: justify;
}
a{
    transition: .25s all ease-out;
}
a:hover{
    transform: scale(1.1);
}
